In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kodiak,US,2022-03-24 02:57:02,57.7900,-152.4072,32.77,63,67,8.46
1,1,Punta Arenas,CL,2022-03-24 02:57:02,-53.1500,-70.9167,46.51,49,0,17.27
2,2,Polunochnoye,RU,2022-03-24 02:57:02,60.8697,60.4153,15.71,79,31,6.73
3,3,Tual,ID,2022-03-24 02:57:03,-5.6667,132.7500,79.68,85,100,24.47
4,4,Rikitea,PF,2022-03-24 02:57:03,-23.1203,-134.9692,79.54,71,100,13.29

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Tual,ID,2022-03-24 02:57:03,-5.6667,132.7500,79.68,85,100,24.47
4,4,Rikitea,PF,2022-03-24 02:57:03,-23.1203,-134.9692,79.54,71,100,13.29
6,6,Cockburn Town,TC,2022-03-24 02:56:33,21.4612,-71.1419,77.95,77,0,24.61
12,12,Puerto Ayora,EC,2022-03-24 02:57:06,-0.7393,-90.3518,78.48,81,54,7.18
14,14,Yarada,IN,2022-03-24 02:57:07,17.6500,83.2667,82.72,89,75,5.75
17,17,Butaritari,KI,2022-03-24 02:57:09,3.0707,172.7902,80.71,78,24,12.50
21,21,Matara,LK,2022-03-24 02:57:10,5.9485,80.5353,83.32,68,75,6.46
40,40,Tura,IN,2022-03-24 02:57:20,25.5198,90.2201,81.48,48,1,10.07
50,50,Bengkulu,ID,2022-03-24 02:58:24,-3.8004,102.2655,83.30,62,23,4.21
59,59,Makakilo City,US,2022-03-24 02:58:28,21.3469,-158.0858,76.75,63,75,11.50

In [10]:
# Checking for null values
preferred_cities_df.count()

City_ID       124
City          124
Country       124
Date          124
Lat           124
Lng           124
Max Temp      124
Humidity      124
Cloudiness    124
Wind Speed    124
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3            Tual      ID     79.68  -5.6667  132.7500
4         Rikitea      PF     79.54 -23.1203 -134.9692
6   Cockburn Town      TC     77.95  21.4612  -71.1419
12   Puerto Ayora      EC     78.48  -0.7393  -90.3518
14         Yarada      IN     82.72  17.6500   83.2667
17     Butaritari      KI     80.71   3.0707  172.7902
21         Matara      LK     83.32   5.9485   80.5353
40           Tura      IN     81.48  25.5198   90.2201
50       Bengkulu      ID     83.30  -3.8004  102.2655
59  Makakilo City      US     76.75  21.3469 -158.0858

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [15]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))